flask
flask-socketio==5.3.6
python-engineio==4.6.0
python-socketio
gevent==25.4.2
gevent-websocket==0.10.1
opencv-python-headless==4.7.0.72  # Use headless version
flask-sqlalchemy==3.0.1
flask-migrate==4.0.5
psycopg2-binary==2.9.6
gunicorn==21.2.0
sqlalchemy==1.4.51
numpy==1.26.4
Flask-CORS